**.json
**.DS_Store
**.pyc
**.pyo
**.grdt
**.pdf
**.agr
**.mod
**.png
**/_eigenvectors/**
**/_interactions/**
**/_trdens_input_files/**
**/_ncsd_output/**
**/_sample_cross_section_files/**
**/cross_sections/**
**/raising_lowering/**
**/trdens_python/**
**/_Nmax4_ncsmc_output/**
**/_Nmax6_ncsmc_output/**
experiment_Li9.txt